@import "tailwindcss";

:root {
  --orange: #C94E1A;
  --orange2: #f9ede6;
  --gold: #B08D57;
  --green: #2a7a50;
  --black: #111111;
  --gray1: #333333;
  --gray2: #666666;
  --gray3: #999999;
  --gray4: #cccccc;
  --gray5: #e8e8e8;
  --gray6: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background: #ffffff;
  color: var(--black);
  font-size: 13px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}